@page

@model CartModel






<section class="col-xs-12 col-md-12 mt-4">

    <div class="container">

        <div class="row">
            <h4 class="text-center font-weight-bold mb-4 mt-4 col-xs-12 col-md-12">Shopping Cart</h4>

            @*<div class="basket-module text-center col-xs-12 col-md-12 mb-4">
                    <label for="promo-code" class="mt-2 mb-2">Enter a promotional code</label>
                    <br />
                    <input id="promo-code mt-2 mb-2" type="text" name="promo-code" maxlength="5" class="promo-code-field">
                    <br />
                    <button onclick="getPromoCode()" class="promo-code-cta btn btn-success mt-2 mb-2">Apply</button>
                </div>*@

            <div class="shopping-list col-xs-8 col-md-8">
                <table class="table table-bordered table-striped text-center">
                    <thead>
                        <tr class="text-center p-2">
                            <td style="width: 30%;">Product Image</td>
                            <td style="width: 20%;">Product Name</td>
                            <td style="width: 20%;">Category</td>
                            <td>Price</td>
                            <td class="hide"></td>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var line in Model.Cart.Lines)
                        {
                            <form method="post" asp-page-handler="remove" id="@line.ID">
                                <tr class="text-center p-2">
                                    <td class="product-detail">
                                        <img src="@line.Product.Image"
                                             alt="product-image"
                                             class="product-frame">
                                    </td>
                                    <td class="product-description">
                                        <span>@line.Product.Name</span>
                                    </td>
                                    <td class="product-category">
                                        <span>@line.Product.Category</span>
                                    </td>
                                    <td class="product-total">
                                        <span>@line.Product.Price.ToString("c")</span>
                                    </td>
                                    <td>

                                        <button type="submit" class="btn btn-danger">Remove</button>

                                    </td>
                                </tr>
                                <input type="hidden" name="productId" value="@line.ID" />

                            </form>

                        }
                    </tbody>
                </table>
            </div>
            <br />
            <div class="col-md-4">
                <div>
                    <a asp-page="Checkout" style="width: 90%; height: 50px; padding-top: 10px;" class="btn btn-success">Go to Check out</a>
                </div><br />
                <div>
                    <a asp-page="User" style="width: 90%; height: 50px; padding-top: 10px;" class="btn btn-success">Get info</a>
                </div>
            </div>

            <br />


        </div>
    </div>

</section>